<div class="area">
    <h1>RailsCanvas</h1>
    <div class="center">
        <canvas id="canvas" width="750" height="500">
        </canvas>
    </div>
</div>
<div class="footer">
    <p id="m-para">RailsCanvas is a dynamic and interactive platform that allows users to unleash their creativity and collaborate in real-time. Built using the powerful Ruby on Rails framework, this web application provides an intuitive and seamless drawing experience for both individual artists and collaborative art projects.</p>
</div>
